<?php
/**
 * User: nikita.s.kalitin@gmail.com
 * Date: 06.12.19
 * Time: 10:31
 */
<?php
namespace Utility;

define('DSN_MYSQL','mysql:host=<host>;dbname=<dbname>');
define('DBLOGIN','<login>');
define('DBPASS',"<passkey>");