.mobile_input--dropdown-list {
    display: none;
    max-width: 70px;
    margin: 0px;
    padding: 0px;
}
.mobile_input--dropdown-header {
    display: inline-block;
    width: 60px;
}
/*.mobile_input--dropdown-header::after{*/
    /*display: block;*/
    /*position: absolute;*/
    /*content: '▼';*/
    /*margin-left: -5px;*/
    /*z-index: 999;*/

/*}*/
.mobile_input--dropdown-header-arrow{
    display: inline-block;
    position: absolute;
    max-width: 16px;
    max-height: 10px;
    color: black;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 8px;
    content: '▼';
    margin-left: 0px;
    margin-top: 2px;
    padding: 2px;
    background-color: lightgrey;
    cursor: pointer;
    z-index: 999;
}
.mobile_input--dropdown-input {
    display: inline-block;
    width: 60px;
    height: 15px;
    /*border: 1px solid rgb(198, 198, 198);*/
    caret-color: transparent;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    background-color: lightgrey;
    border-radius: 1px;
    border-right: none;
}
.mobile_input--dropdown-input-red {
    display: inline-block;
    width: 60px;
    height: 15px;
    caret-color: transparent;
    cursor: default;
    border-left: 1px solid tomato;
    border-top: 1px solid tomato;
    /*border-top: none;*/
    border-bottom: 1px solid tomato;
    border-right: none;
    border-radius: 2px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 2px;
    background-color: lightgrey;
}
.mobile_input--dropdown-wrapper {
    display: inline-block;
    width: 60px;
    height: 15px;
}
.mobile_input--dropdown-ul {
    position: absolute;
    width: 65px;
    overflow: scroll;
    max-height: 120px;
    overflow-x: hidden;
    border: 1px solid rgb(198, 198, 198);
    cursor: pointer;
    list-style-type: none;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-left: 10px;
    padding-left: 5px;
    /*box-shadow: 5px 5px 3px lightgrey;*/
    background-color: #FFFFFF;
    z-index: 999;
    -webkit-animation: dropdown 10ms; /* Safari 4+ */
    -moz-animation:    dropdown 10ms; /* Fx 5+ */
    -o-animation:      dropdown 10ms; /* Opera 12+ */
    animation:         dropdown 10ms; /* IE 10+, Fx 29+ */
}

.mobile_input--dropdown-imgflag {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 15px;
    min-height: 10px;
}

.mobile_input--dropdown-litext {
    margin-left: 5px;
}

.mobile_input--dropdown-li {
    font-size: 12px;
}

.mobile_input--dropdown-li:hover {
    background-color: #6babe3;
}

.mobile_input--dropdown-ul::-webkit-scrollbar-track
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0);
    background-color: #F5F5F5;

}

.mobile_input--dropdown-ul::-webkit-scrollbar
{
    width: 3px;
    border-radius: 10px;
    background-color: #F5F5F5;
}

.mobile_input--dropdown-ul::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #c4c4c4;
    border: 1px solid #c4c4c4;
}

@-webkit-keyframes dropdown {
    0%   { height: 0; }
    100% { height: 120px; }
}
@-moz-keyframes dropdown {
    0%   { height: 0; }
    100% { height: 120px; }
}
@-o-keyframes dropdown {
    0%   { height: 0; }
    100% { height: 120px; }
}
@keyframes dropdown {
    0%   { height: 0; }
    100% { height: 120px; }
}

.mobile_input--mobile-input {
    display: inline-block;
    border: 1px solid rgb(198, 198, 198);
    border-collapse: separate;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-spacing: 1px 1px;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 1px;
    padding: 2px 2px 1px 10px;
    text-align: start;
    font-family: Arial Helvetica sans-serif;
    font-size: 12px;
    width: 120px;
    height: 15px;
}
.mobile_input--mobile-input-red {
    display: inline-block;
    width: 120px;
    height: 15px;
    border: 1px solid rgb(198, 198, 198);
    border-collapse: separate;
    border-right: 1px solid tomato;
    border-top: 1px solid tomato;
    border-bottom: 1px solid tomato;
    border-radius: 2px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-spacing: 1px 1px;
    border-radius: 2px;
    margin-bottom: 2px;
    padding: 2px 2px 1px 10px;
    text-align: start;
    font-family: Arial Helvetica sans-serif;
    font-size: 12px;
}
/*ie10*/
/*IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .mobile_input--dropdown-ul {
        /* ie scrollbar color properties */
        scrollbar-base-color: #efefef;
        scrollbar-face-color: #666666;
        scrollbar-3dlight-color: #666666;
        scrollbar-highlight-color: #666666;
        scrollbar-track-color: #efefef;
        scrollbar-arrow-color: #666666;
        scrollbar-shadow-color: #666666;
        scrollbar-dark-shadow-color: #666666;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .mobile_input--dropdown-li{
        width: 75px;
    }

    .scrollable:after {
        content: "";
        height: 32px;
        display: block;
    }

}